<header class="py-5 bg-light border-bottom mb-4">
     <div class="container">
          <div class="text-center my-3">
               <h1 class="fw-bolder">Поиск авиабилетов!</h1>
                    <p class="lead mb-0">Через аэропорт города Краснодар летать комфортно</p>
          </div>
     </div>
</header>
<form>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Лечу в</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-md-auto">
                <input type="date" class="form-control" />
            </div>
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-4">col-4</div>    
        <div class="col-8">col-8</div>
    </div>
</div>

